@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');


.footer {
  // position: sticky;
  bottom: 0;
  width: 100%;
  padding-bottom: 5%;
  // color: azure;
  background-color: #10127544;
  font-family: 'Kanit', sans-serif;
  font-size: 1.5em;
}

.contact-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5px;
  // color: azure;
  color: black;
}
.contact-icons:hover {
  color: #70cac9;
}