@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');


.footer {
  padding-bottom: 5%;
  background-color: #A5DEE4;
  font-family: 'Kanit', sans-serif;
  font-size: 1.5em;
}

.contact-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5px;
  color: black;
}
.contact-icons:hover {
  color: #268785;
}