@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=League+Spartan&family=Varela+Round&display=swap');

.short-intro {
  padding-top: 5em;
}

.profile {
  display: grid;
  margin: 5%;
  margin-bottom: 5%;
  padding: 20px;
  align-items: center;
  justify-items: center;
}

#title {
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
}

#greeting {
  margin: 15px;
  text-align: start;
}
#name {
  margin: 15px;
  font-size: 3em;
  font-weight: 500;
}
#bio {
  margin: 15px;
  text-align: start;
}

#cover-img {
  display: none;
  grid-row: 2 / 3;
  width: 90%;
  opacity: 0.4;
}
#cover {
  width: inherit;
}

.dropdown {
  margin-right: 50%;
  margin-left: 5%;
  display: flex;
  align-items: center;
}

#dropdown-basic-button {
  background-color: #49c2ff;
  border-color: #4182a3;
  font-family: 'Varela Round', sans-serif;
  z-index: 1;
}

.explore {
  padding-right: 50%;
  padding-left: 10px;
  text-align: center;
  color: #359fd4;
  font-family: 'Varela Round', sans-serif;
}

#summary-img {
  display: none;
}

.intro-text {
  margin: 5%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: start;
  font-size: 1.1em;
  border-style: solid;
  border-width: 2px;
  border-color: #ade4ff8c;
  scroll-margin-top: 10em;
  background-color: #ffffffaa;
}

p.content {
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
}
#more {
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  color: #359fd4;
  text-decoration: underline;
}




@media only screen and (min-width: 768px) {

  .profile {
    margin: 5%;
    margin-bottom: 20%;
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr 1fr 4fr 1fr;
    align-items: center;
    justify-items: center;
  }

  #title {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  #cover-img {
    display: initial;
    grid-row: 1 / 2;
    grid-column: 4 / 5;
    height: 40vh;
  }
  #cover {
    height: inherit;
    opacity: 0.4;
    filter: blur(1px);
  }

  .summary {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr 8fr 1fr;
    align-items: center;
    justify-items: center;
  }

  #summary-img {
    display: initial;
    grid-column: 2 / 3;
    height: 40vh;
  }
  #summary-image {
    height: inherit;
    opacity: 0.55;
    filter: blur(1px);
  }

  .intro-text {
    grid-column: 4 / 5;
  }

}