h1 {
  margin: 0 5%;
  padding: 0 10px;
  text-align: left;
}

h3 {
  text-align: left;
  font-family: 'PT Sans', sans-serif;
}

.skills {
  padding-top: 5em;
}

.skills-container {
  margin: 3% 5%;
  padding: 10px;
  text-align: left;
  font-family: 'M PLUS 1', sans-serif;
}

.stacks.dropdown {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
}

.sorts {
  display: flex;
  flex-wrap: wrap;
}

.hide {
  display: none;
}

.stack-img {
  border: 1px solid #b1b1b1;
  border-radius: 4px;
  padding: 4px;
  margin-right: 3%;
  margin-top: 1.5%;
  vertical-align: middle;
  height: 40px;
}
.stack-img:hover {
  transform: scale(1.2);
}


@media only screen and (min-width: 481px) {
  .stack-img {
    border: 1px solid #b1b1b1;
    border-radius: 4px;
    padding: 4px;
    margin-right: 3%;
    margin-top: 1.5%;
    vertical-align: middle;
    height: 50px;
  }
}