@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');


.footer {
  bottom: 0;
  // width: 100vw;
  padding: 0 5% 5% 5%;
  color: white;
  background-color: #44617bee;
  font-family: 'Kanit', sans-serif;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-icons {
  width: 90%;
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  margin-top: 5px;
}
.icon {
  color: white;
}
.icon:hover {
  transform: scale(1.2);
}

.contact-icons a {
  margin-right: 10%;
}


@media only screen and (min-width: 768px) {
  .contact-icons {
  width: 12em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
}
}