@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

nav {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100vw;
}

.nav {
  // background-color: rgb(247, 251, 254);

  &-collapsed {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: transparent;
  }

  &-expanded {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1em;
    color: white;
    background-color: #44617b;
  }
}

.menu {
  margin-top: 0;
  text-align: left;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  padding: .75em;
}

.links {
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  text-align: left;
}

a {
  text-decoration: none;
}

.nav-link {
  margin: .5em;
  padding: 0 2.5%;
  border: solid .5px transparent;
  font-family: 'Kanit', sans-serif;
  font-size: 1.5em;
  color: white;
  position: relative;
  display: inline-block;
}
.nav-link::after {
  content: '';
  position: absolute;
  top: 50%; /* Position vertically in the middle of the text */
  left: 0;
  width: 100%;
  height: 2px; /* Thickness of the line */
  background-color: white; /* Color of the line */
  transform: scaleX(0); /* Start with the line hidden (scaled to 0 width) */
  transform-origin: left; /* Make the animation expand from the left */
  transition: transform 0.3s ease-out; /* Smooth animation */
}
.nav-link:hover::after {
  transform: scaleX(1); /* Expand the line to full width */
}

.nav-button {
  padding: 5px;
  margin: 0 50px;
  border: solid .5px transparent;
  font-family: 'Kanit', sans-serif;
  font-size: 1.5em;
  color: #e7e7eb;
}

.hide {
  display: none;
}

.nav-bar {
  display: none;
}

@media only screen and (min-width: 768px) {
  #nav {
    display: none;
  }

  .nav-bar {
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #45576511;
    align-items: center;
  }

  .nav-bar a p {
    position: relative;
  }

  .nav-bar a p::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust position of the underline */
    width: 100%;
    height: 2px;
    background-color: #e7e7eb;
    transform: scaleX(0); /* Initially hidden */
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
  }
  .nav-bar a:hover p::before {
    transform: scaleX(1); /* Reveal on hover of the <a> */
  }
  
  .links-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .nav-link {
    margin: 0 10px;
    padding: 2.5% 0;
    display: flex;
    align-items: center;
    color: #e7e7eb;
  }

  a {
    text-decoration: none;
  }

  .nav-button {
    margin: 0 25px;
  }
}