@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@300&family=M+PLUS+1&family=PT+Sans&display=swap');

.projects {
  padding-top: 5em;
}

.projects h1 {
  margin: 0 5%;
  padding: 0 10px;
  text-align: left;
}

.projects-container {
  margin: 30px 10px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-view {
  display: none;
}

.project-card {
  position: relative;
  margin: 10px;
  padding: 10px;
  width: 300px;
  border: 2px solid white;
  border-radius: 15px;
  background-color: #455765;
  color: #e7e7eb;
  box-shadow: 5px 5px 1px .5px #e7e7eb55;
}

.project-title h2 {
  font-size: 1.25em;
  margin: 10px 15px;
  text-align: left;
  /* text-decoration: underline; */
  font-family: 'M PLUS 1', sans-serif;
}

img.project-img {
  border: 1px solid #e7e7eb;
  border-radius: 5px;
  padding: 4px;
  height: auto;
  width: 275px;
}

.project-card svg {
  color: #e7e7eb;
  fill: currentColor;
}
.project-git {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 15px;
}
.project-live {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

.not-live {
  display: none;
}

.about {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.text {
  padding: 0 5px;
}
.stacks {
  text-align: left;
  font-size: 1.1em;
  font-family: 'KoHo', sans-serif;
}
.description {
  padding-right: 5%;
  text-align: start;
  font-size: 1.15em;
  font-family: 'PT Sans', sans-serif;
}

// 481 748 
@media only screen and (min-width: 725px) {
  .projects {
    margin: 0 30px;
  }

  .projects h1 {
    margin: 0 calc(5% - 30px);
  }

  .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    gap: 15px;
    margin: 30px auto;
  }

  .project-card {
    height: 630px;
  }
}